@model Clients

@using (Html.BeginForm("Update", "Clients", FormMethod.Post))
{
    <div asp-validation-summary="All" class="text-danger"></div>

    <input asp-route-id="Model.Id" type="hidden" />

    <label asp-for="Title"></label>
    <input asp-for="Title" asp-action="Index" asp-controller="Clients" class="form-control" />
    <br />
    <button class="btn btn-outline-dark" type="submit">Save</button>
    <a action="ClientList" asp-controller="Clients" class="btn btn-outline-primary">Go To List</a>
}
<br />
